@media (max-width: 933px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 15px;
    }

    .cabecalho img{
        max-width: 100px;
        
    }

    .cabecalho .menu li a {
    padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .titulo{
        font-size: 40px;
    }   
    .compre-ja .cartao{
        width: 70%;
    }
}

@media (max-width:724px){
    .home .imagem-fundo{
        width: 100%;
        height: 100%;
     }

    .compre-ja{
        padding: 30px;
    }

    .compre-ja .cartao{
        padding: 80px 20px;
        width: 100%;
    }

    .compre-ja .informacoes h3{
        font-size: 35px;
    }

    .compre-ja .informacoes .plataforma{
        flex-direction: column;
    }

    .btn-plataforma{
        margin-top: 15px;
        padding: 15px;
    }

    .btn-comprar{
        width: 100%;
    }
}

@media (max-width: 717px){
    .main::after{
        
        background: linear-gradient(90deg rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)100%, transparent 65%);
    }

    .home .informacoes {
        position: absolute;
        z-index: 1;
        min-height: calc(50vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 10px 30px 10px 40px;
        max-width:550px;
    }

    .home .informacoes .titulo{
        gap: 30;
        font-size: 25px;
        
    }
    
    .home .informacoes .texto{
        font-size: 10px;
        line-height: 1.1;
        padding: 10px 5px 10px;
        justify-content: right;       
    }

    .btn-comprar{
        
        
        font-size: 18px;
        padding: 10px 30px;
        width: 50%;
    }

    .compre-ja .cartao .capa-do-jogo{
        max-width: 80%;
    }

}

@media (max-width: 415px){
    .main::after{
        
        background: linear-gradient(90deg rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)100%, transparent 65%);
    }

    .home .informacoes {
        /* position: absolute; */
        z-index: 1;
        min-height: calc(10vh - 10px);
       
        
        /* justify-content:; */
        gap: 10px;
        padding: 10px 30px 10px 30px;
        max-width:270px;
    }

    .home .informacoes .titulo{
        gap: 30;
        font-size: 25px;
        
    }
    
    .home .informacoes .texto{
        font-size: 10px;
        line-height: 1.1;
        padding: 10px 5px 15px;
        justify-content: right;       
    }

    .btn-comprar{
        font-size: 18px;
        padding: 5px 15px;
        width: 30%;
    }    
}