@media (max-width: 933px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 15px;
    }

    .cabecalho img{
        max-width: 100px;
        
    }

    .cabecalho .menu li a {
    padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .titulo{
        font-size: 40px;
    }   
    .compre-ja .cartao{
        width: 70%;
    }
}

@media (max-width:724px){
    .home .imagem-fundo{
        width: 100%;
        height: 100%;
     }

    .compre-ja{
        padding: 30px;
    }

    .compre-ja .cartao{
        padding: 80px 20px;
        width: 100%;
    }

    .compre-ja .informacoes h3{
        font-size: 35px;
    }

    .compre-ja .informacoes .plataforma{
        flex-direction: column;
    }

    .btn-plataforma{
        margin-top: 15px;
        padding: 15px;
    }

    .btn-comprar{
        width: 100%;
    }
}

@media (max-width: 717px){
    .main::after{
        
        background: linear-gradient(90deg rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)100%, transparent 65%);
    }

    .home .informacoes {
        position: absolute;
        z-index: 1;
        min-height: calc(50vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 10px 30px 10px 40px;
        max-width:550px;
    }

    .home .informacoes .titulo{
        gap: 30;
        font-size: 25px;
        
    }
    
    .home .informacoes .texto{
        font-size: 10px;
        line-height: 1.1;
        padding: 10px 5px 10px;
        justify-content: right;       
    }

    .btn-comprar{
        
        
        font-size: 18px;
        padding: 10px 30px;
        width: 50%;
    }

    .compre-ja .cartao .capa-do-jogo{
        max-width: 80%;
    }

}

@media (max-width: 690px){
    .cabecalho {
        height: 100px;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        
        padding: 0 60px;
        border-bottom: 1px solid #282828;
    }

    .cabecalho .menu{
        display: flex;
        gap: 30px;
    }

    .cabecalho .menu li a{
        padding: 10px;
        color: #e8e8e8;
        font-weight: bolder;
        font-size: 10px;
        font-family: 'chalet';
    }

    .home .informacoes {
        
        width: 110%;
        margin-left: 1px;
        padding-left: 15px;
    }

}

@media (max-width: 450px){
    .main::after{
        
        background: linear-gradient(90deg rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)100%, transparent 65%);
    }

    .cabecalho .menu{
        display: flex;
        gap: 1px;
    }
    .cabecalho .menu li a{
        padding: 15px;
        color: #e8e8e8;
        font-weight: bolder;
        font-size: 6px;
        font-family: 'chalet';
    }
    
    .home .imagem-fundo{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .home .informacoes {
        
        width: 100%;
        
    }

    .home .informacoes .titulo{
        gap: 30;
        font-size: 25px;
        
    }
    
    .home .informacoes .texto{
        font-size: 10px;
        line-height: 1.1;
        padding: 10px 5px 15px;
        justify-content: right;       
    }

    .btn-comprar{
        font-size: 18px;
        padding: 5px 15px;
        width: 30%;
    }    
}

@media (max-width: 420px){
    .cabecalho {
        height: 90px;
        width: 100%;
        background-color: #000000;
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-bottom: 1px solid #282828;
    }

    .cabecalho .logo {
        display: flex;
        gap: 12px;
        height: 60px;
    }

    .cabecalho .menu{
        display: flex;
        gap: 5px;
    }

    .cabecalho .menu li a{
        padding: 5px;
        color: #e8e8e8;
        font-weight: bolder;
        font-size: 6px;
        font-family: 'chalet';
    }

    .home .informacoes {
        
        width: 100%;
        
        padding-left: 15px;
    }
}

@media (max-width: 395px){
    .cabecalho {
        height: 90px;
        width: 100%;
        background-color: #000000;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-bottom: 1px solid #282828;
    }

    .cabecalho .logo {
        display: flex;
        gap: 12px;
        height: 60px;
    }

    .cabecalho .menu{
        display: flex;
        gap: 5px;
    }

    .cabecalho .menu li a{
        padding: 5px;
        color: #e8e8e8;
        font-weight: bolder;
        font-size: 6px;
        font-family: 'chalet';
    }

    .home .informacoes {
        
        width: 100%;
        
        padding-left: 15px;
    }
}
@media (max-width: 360px){
    .cabecalho {
        height: 90px;
        width: 100%;
        background-color: #000000;
        display: flex;
        align-items: center;
        padding: 0 5px;
        border-bottom: 1px solid #282828;
    }
}